<div class="post" data-postname="{{postName}}" data-posttype='["{{postType}}"]'>
    <h2 class="post-name">{{postName}}</h2>
    <h3 class="post-type">{{postType}}</h3>
    <p class="post-summary">
        {{postSummary}}
    </p>
    <button class="community-link">
        <a href="{{resourceURL}}" target="_blank" rel="noopener noreferrer">Learn More</a>
    </button>
</div>
