<div class="member">
    <img src="{{photoURL}}">
    <div class="member-content">
        <h3 class="member-name">{{name}}</h2>

        <h4 class="pronouns">({{pronouns}})</h4>

        <p class="summary">
            {{summary}} 
        </p>
    </div>
    <div class="contacts">
        <div class="link website">
            <a href="{{blogURL}}" target="_blank" rel="noopener noreferrer"><i class="far fa-user"></i></a>
        </div><div class="link email">
            <a href="{{email}}" target="_blank" rel="noopener noreferrer"><i class="far fa-envelope"></i></a>
        </div>
    </div>
</div>